@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap');
*{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'KOTRAHOPE';
}

header{
    text-align: center;
}

.logo{
    width: 142px;
    height: 40px;
    margin: 10px;
}

nav{
    text-align: center;
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: #29CD00;
}

a{
    text-decoration-line : none;
    color: #FFFFFF;
    border-left: 1px solid white;
    flex: 1;
    font-family: 'KOTRAHOPE';
}

a:nth-child(1){
    border-left: none;
}

main{
    text-align: center;
}

.wea--title{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.wea--icon{
    width: 128px;
    height: 128px;
}

.wea--info{
    font-size: 8px;
}
.iwBox {
    padding-top: 20px;
    display: flex;
    width: 400px;
    height: auto;
    flex-direction: column;
    align-items: center;
}
.contentBox {
    width: 340px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iwTitle {
    font-size: 20px;
    font-weight: bold;
    font-family: 'KOTRAHOPE';
}
.iwContent {
    width: 340px;
    height: 20px;
    font-size: 15px;
    font-family: 'KOTRAHOPE';
    margin-bottom: 15px;
}

.imgBox {
    width: 85%;
    height: 60%;
    margin-bottom: 25px;
}
.iwImage {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

